.services {
    margin-bottom: 100px;
}

.services-header {
    text-align: center;
    margin-bottom: 40px;
}
.services-header h2 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}
.services-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service {
    display: flex;
    align-items: flex-start;
    width: 90%;
    margin: 20px;
    padding: 30px;
    background-color: #e5e5e5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: all;
}
.service .image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-right: 30px;
    border-radius: 5px;
    transition: all 0.5s;
}
.service-details {
    flex: 1;
}
.service h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
    transition: color 0.5s;
}
.service p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    transition: color 0.5s;
}
.service h3, .service p {
    color: black;
    width: 85%;
}
.arrow {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 75px;
    transition: all;
}
.service:hover .arrow{
    animation: arrowAnimation 1s ease infinite;
}
.service:hover p{
    color: #478ac9;
}
.service:hover h3 {
    color: #478ac9;
}
.service:hover .image {
    transform: scale(1.1);
}
@keyframes arrowAnimation {
    0% {
        transform: translateX(0%);
   }
    50% {
        transform: scale(1.2);
   }
    100% {
        transform: translateX(0%);
   }
}
.service-relative {
    position: relative;
}
.page-urls {
    width: 50%;
    color: black;
    text-align: center;
    position: absolute;
    right:2%;
    margin-top: 40px;
}
.page-urls a{
    color: black;
    width: 30px;
    font-size: 25pt;
    display: inline-block;
}
.page-urls a:hover{
    color: #478ac9;
    cursor: pointer;
}
.page-urls-arrow {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
}
.page-urls img {
    width: 100%;
    margin: 0 auto;
}
a.active-page {
    color: #478ac9;
}
@media (max-width: 900px) {
    .services-list {
        display: block;
        text-align: center;
    }

    .service {
        width: 35%;
        margin: 0 auto;
        margin-bottom: 20px;
        display: inline-block;
        text-align: center;
   }
    .service h3 {
        font-size: 60px;
   }
    .service .image {
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 20px;
        border-radius: 0;
   }
    .service-details {
        text-align: center;
   }
   .arrow {
    display: none;
   }
}

@media (max-width: 600px){
    
    .service {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 20px;
        display: block;
    }
}