{% extends 'template.html' %}

{% block title %}
<title>Компания</title>
{% endblock%}

{% block styles %}
    <link rel="stylesheet" href="/static/styles/company.css">
{% endblock %}

{% block urls %}
    <a href="/">Каталог</a>
    <a href="/services">Услуги</a>
    <a href="/company" class="active">О нас</a>
    <a href="/contact">Контакты</a>
{% endblock %}

{% block content %}
    <h1>О компании</h1>
    <p>1. Кто мы
        - Наша история и опыт в продаже яхт
        - Наша команда профессионалов 

        2. Что мы предлагаем
        - Широкий ассортимент яхт разных типов и брендов
        - Услуги консультации и выбора яхты под потребности клиента
        - Финансовые услуги и возможности кредитования
        - Техническая поддержка и обслуживание яхт

        3. Наши преимущества
        - Качественный сервис и индивидуальный подход к клиенту
        - Наличие лучших брендов и новых моделей яхт
        - Выгодные цены и возможность участия в акциях и скидках
        - Безопасность сделок и договоров

        4. Наши достижения и рейтинг
        - Статистика продаж и довольных клиентов
        - Участие в международных выставках и конкурсах
        - Рейтинг и репутация на рынке яхтенных услуг
        
        5. Как связаться с нами
        - Контакты нашей компании и менеджеров
        - Форма обратной связи для быстрого ответа на вопросы и заявки
        - Адрес нашего офиса и режим работы.
        Мы благодарим за выбор нашей компании и готовы помочь вам в реализации мечты о собственной яхте!</p>
{% endblock %}