<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title%}{% endblock %}
    <link rel="stylesheet" href="/static/styles/main-styles.css">
    {% block styles %}
    {% endblock%}
</head>
<body>
    <div id="loader"></div>
    <header>
        <section class="header-content">
            <button class="open-urls-modile-button" style="display: none;" onclick="openUrls()"><img src="/static/images/menu.svg" alt=""></button>
            <section class="header-urls"  style="transform: translateX(0%);">
                <h2>
                    <a href="/" {% if active_url == '/' %}class="active"{% endif %}>Каталог</a>
                    <a href="/services" {% if active_url == '/services' %}class="active"{% endif %}>Услуги</a>
                    <a href="/about" {% if active_url == '/about' %}class="active"{% endif %}>О нас</a>
                    <a href="/contact" {% if active_url == '/contact' %}class="active"{% endif %}>Контакты</a>
                </h2>
                <button class="close-urls-modile-button" onclick="closeUrls()"><img src="/static/images/close.svg" alt=""></button>
            </section>
            <section class="header-logo">
                <a href="/"><img src="/static/images/logo.png" alt=""></a>
            </section>
            <section class="header-social-block">
                <a href=""><img src="/static/images/whatsapp.svg" alt=""></a>
                <a href=""><img src="/static/images/vk.svg" alt=""></a>
                <a href=""><img src="/static/images/instagram.svg" alt=""></a>
                <a href=""><img src="/static/images/letter.svg" alt=""></a>
                <h3>0 000 000 00 00</h3>
            </section>
        </section>
    </header>

    <main>
        <section class="content">
            {% block content %}
            {% endblock %}
        </section>
    </main>

    <footer>
        <section class="footer-blocks">
            <div class="footer-block">
                <a href="/"><h1 style="margin-bottom:30px">Главная</h1></a>
                <a href="/catalog"><h1>Каталог</h1></a>
                <a href="/services"><h1>Услуги</h1></a>
                <a href="/company"><h1>О нас</h1></a>
            </div>
            <div class="footer-block">
                <a href="/contact"><h1 style="margin-bottom:30px">Контакты</h1></a></div>
            <div class="footer-social-block footer-block">
                <a href=""><img src="/static/images/whatsapp.svg" alt=""></a>
                <a href=""><img src="/static/images/vk.svg" alt=""></a>
                <a href=""><img src="/static/images/instagram.svg" alt=""></a>
                <a href=""><img src="/static/images/letter.svg" alt=""></a>
                <h3>0 000 000 00 00</h3>
                <h3>example@gmail.com</h3>
            </div>
        </section>
        <h6>2023 © Дистрибьютор медицинского оборудования</h6>
    </footer>
    {% block scripts %}
    {% endblock %}
</body>
</html>
<script src="/static/scripts/main-script.js"></script>