<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title%}{% endblock %}
    <link rel="stylesheet" href="/static/styles/main-styles.css">
    {% block styles %}
    {% endblock%}
</head>
<body>
    <script src="/static/scripts/main-script.js"></script>
    <header>
        <section class="header-content">
            <button class="urls-button" onclick="openUrls()"><img src="/static/images/menu.svg" alt=""></button>
            <section class="urls hidding-animation">
                <h2>
                    {% block urls %}
                    {% endblock %}
                </h2>
                <button class="close-urls" onclick="closeUrls()"><img src="/static/images/close.svg" alt=""></button>
            </section>
            <section class="logo">
                <a href="/"><img src="/static/images/logo.png" alt=""></a>
            </section>
            <section class="contact">
                <a href=""><img src="/static/images/whatsapp.svg" alt=""></a>
                <a href=""><img src="/static/images/vk.svg" alt=""></a>
                <a href=""><img src="/static/images/instagram.svg" alt=""></a>
                <a href=""><img src="/static/images/letter.svg" alt=""></a>
                <h3>0 000 000 00 00</h3>
            </section>
        </section>
    </header>

    <main>
        <section class="content">
            {% block content %}
            {% endblock %}
        </section>
    </main>

    <footer>
        <section class="blocks">
            <div class="block">
                <a href="/"><h1 class="first">Главная</h1></a>
                <a href="/catalog"><h1>Каталог</h1></a>
                <a href="/services"><h1>Услуги</h1></a>
                <a href="/company"><h1>О нас</h1></a>
            </div>
            <div class="block">
                <a href="/contact"><h1 class="first">Контакты</h1></a></div>
            <div class="social-block block">
                <a href=""><img src="/static/images/whatsapp.svg" alt=""></a>
                <a href=""><img src="/static/images/vk.svg" alt=""></a>
                <a href=""><img src="/static/images/instagram.svg" alt=""></a>
                <a href=""><img src="/static/images/letter.svg" alt=""></a>
                <h3>0 000 000 00 00</h3>
                <h3>example@gmail.com</h3>
            </div>
        </section>
        <h6>2023 © Дистрибьютор медицинского оборудования</h6>
    </footer>
    {% block scripts %}
    {% endblock %}
</body>
</html>